<div class="blog_comment_message <%= cycle('odd', 'even', :name => 'blog_comment_class') -%>" id='<%= "comment-#{comment.to_param}" %>'>
  <p>
    <%= simple_format(comment.message.to_s) %>
  </p>
</div>
<p class='blog_comment_author'>
  <em><%= "Created by #{comment.name} at #{comment.created_at.strftime("%b %d %Y, %H:%M")}" %></em>
</p>
