/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */



/* CSS Document */

body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #000; line-height: 18px; background: url(../images/site_top_line.gif) top repeat-x; padding: 0; margin: 0;  }

h1 { font-weight: bold; font-size: 27px; color: #a63a23; }
h2,h2 a,h2 a:visited { font-size: 17px; color: #4b606e; margin-bottom: 5px; margin-top: 0; text-decoration:none;}
#wrap { width: 960px; margin: 0 auto;  }
 
/* HEADER */  
#header { position: relative; margin-top: 6px; width: 960px; height: 221px; background: url(../images/header_bg.jpg) 0 -6px no-repeat; }
#topDonate { position: absolute; display: block; height: 44px; width: 216px; background: url(../images/donate_button_top.jpg); float: right; text-indent: -2000px; top: -6px; right: 0; }
#logo a { position: absolute; display: block; height: 165px; width: 161px; background: url(../images/logo.png) no-repeat; text-indent: -2000px; top: 23px; }

/* HOME CONTENT */
#homeBanner { margin: 0 0 20px 0; padding: 0; }
.blueText { font-size: 12px; color: #158edb;  }
.newsStory { margin-top: 10px; }

ul#blog_posts > li { list-style:none; margin: 0; }
ul#blog_posts { margin: 0; padding: 0; }

/* Main Navigation */ 
ul#navigation  { 
	position: absolute; 
	right: 0; 
	top: 152px; 	
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;  }
ul#navigation li { display: inline; list-style: none; float: left; margin-left: 20px; padding-bottom: 5px; }
ul#navigation li a { display: block; text-transform: uppercase; color: #4b606e; text-decoration: none; font-weight: bold; font-size: 16px;}
ul#navigation li.selected { border-bottom: solid 3px #ab4731; }

ul#sub_navigation  { position: absolute; right: 0; top: 152px; margin-bottom: 0;  }
ul#sub_navigation li { display: inline; list-style: none; float: left; margin-left: 20px; padding-bottom: 5px; }
ul#sub_navigation li a { display: block; text-transform: uppercase; color: #4b606e; text-decoration: none; font-weight: bold; font-size: 16px;}
ul#sub_navigation li.selected { border-bottom: solid 3px #ab4731; }

/* Hi Andy! */

/* News Box */
#newsBox { position: relative; height: 325px; width: 525px; background: url(../images/callout_corner.png) no-repeat; padding: 20px; }
#newsBox h1 { margin-bottom: 10px; }
#newsWrapper { height: 255px; width: 525px; overflow: auto; }
.moreNews { position: absolute; bottom: 10px; left: 20px; }
.readMore { color: #b37a40; text-decoration: none; }

/* Difference Box */
#differenceBox { position: relative; height: 300px; width: 394px; background: url(../images/difference_bg.jpg); }
#differenceBox a { position: absolute; bottom: 20px; right: 20px; }

/* Floats */
.floatLeft { float: left; }
.floatRight { float: right; }
.clearFloats { clear: both; }
 
/*Page Main Images*/
.picRight { float: right; margin: 0 0 10px 10px; }
.picLeft { float: left; margin: 0 10px 10px 0; }
 
/*Content pages*/
h1.content { margin: 15px 0; } 
img.content { margin: 5px 0 5px 5px; }

/* FOOTER */
#footerWrapper { background: url(../images/footer_bg.jpg) repeat-x; height:298px; margin-top: 20px;  }
#footer { position: relative; width: 960px; height:298px; margin: 0 auto; }
#footerConnections { width: 285px; float: left; }
#footerConnections h2 { font-size: 22px; font-weight: bold; color: #fff; text-transform: uppercase; border-bottom: #8ca8ba 1px solid; padding-bottom: 15px; margin: 30px 0 0 0 ;  }
#footerConnections ul { padding-left: 0; padding-top: 0px; margin: 0; } 
#footer ul li { list-style: none;  padding: 10px 0 ; border-bottom: #8ca8ba 1px solid;  } 
#footer ul li a { color: #fff; text-decoration: none; }
 
#footer_verse p { position: absolute; color: #728896; font-size: 25px; width: 500px; letter-spacing: 150%; line-height: 150%; background: url(../images/verse_quotes.png) top left no-repeat; padding-left: 70px; right: 0; top: 20px; }
 
#copyright { position: absolute; clear: both; color: #353f46; text-transform: uppercase; font-size: 12px; bottom: 13px; }
 
#site_bar {background: #afc7db; }
