<div id="footerConnections">
  <h2>Connect with Us</h2>
  <ul>
    <li><a href="http://www.facebook.com/group.php?gid=285282859803">Join Us on Facebook</a></li>
    <li><a href="/contact">Send Us Your Story</a></li>
    <li><a href="/how-to-flickr">Upload Your Images to Flickr</a></li>
  </ul>
</div>
<div id="footer_verse">
  <p>This is My commandment, that you love one another as I have loved you.<br /><strong>John 15:12</strong></p>
</div>
<p id="copyright">Copyright &copy; 2010 John 15:12 Ministries</p>


