<%#= render :partial => "/shared/content_page" %>
<img id="homeBanner" src="images/home_banner.jpg" alt="Love one another, as I have loved you." />

<div id="newsBox" class="floatLeft">
  <h1>News</h1>
  
  <div id="newsWrapper">
    <div class="newsStory">
      <h2>Headline 1</h2>
      <div class="blueText">January 13, 2011</div>
      <div>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas, justo tortor varius felis, tristique aliquet nisl sem ac ipsum. Proin...
	<a href="#" class="readMore">Read More</a>
      </div>
    </div>
    
    <div class="newsStory">
      <h2>Second Headline</h2>
      <div class="blueText">January 10, 2011</div>
      <div class="newsTeaser">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas, justo tortor varius felis, tristique aliquet nisl sem ac ipsum. Proin...
	<a href="#" class="readMore">Read More</a>
      </div>
    </div>
    
    <div class="newsStory">
      <h2>Second Headline</h2>
      <div class="blueText">January 10, 2011</div>
      <div class="newsTeaser">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas, justo tortor varius felis, tristique aliquet nisl sem ac ipsum. Proin...
	<a href="#" class="readMore">Read More</a>
      </div>
    </div>
    
    <div class="newsStory">
      <h2>Second Headline</h2>
      <div class="blueText">January 10, 2011</div>
      <div class="newsTeaser">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas, justo tortor varius felis, tristique aliquet nisl sem ac ipsum. Proin...
	<a href="#" class="readMore">Read More</a>
      </div>
    </div>
    
    <div class="newsStory">
      <h2>Second Headline</h2>
      <div class="blueText">January 10, 2011</div>
      <div class="newsTeaser">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas, justo tortor varius felis, tristique aliquet nisl sem ac ipsum. Proin...
	<a href="#" class="readMore">Read More</a>
      </div>
    </div>
  </div>
  
  <a class="moreNews" href="#"><img src="images/more_news_button.jpg" alt="More News" /></a>
</div>

<div id="differenceBox" class="floatRight">
  <a href="#"><img src="images/find_out_button.png" alt="Find Out More"/></a>
</div>
