<%#= render :partial => "/shared/content_page" %>
<img id="homeBanner" src="images/home_banner.jpg" alt="Love one another, as I have loved you." />

<div id="newsBox" class="floatLeft">
  <h1>News</h1>
  
  <div id="newsWrapper">
    <% @news_items.each do |item| -%>
      <div class="newsStory">
        <h2><%= link_to item.title, news_item_url(item) %></h2>
        <div class="blueText"><%= l(item.publish_date) %></div>
        <div>
          <%= truncate  item.body, :length => 250,
              :omission => " ... #{link_to 'Read More', news_item_url(item), :class => 'readMore'}",
              :preserve_html_tags => true %>
        </div>
      </div>
      
    <% end -%>
  </div>
  
  <a class="moreNews" href="/news"><img src="images/more_news_button.jpg" alt="More News" /></a>
</div>

<div id="differenceBox" class="floatRight">
  <a href="#"><img src="images/find_out_button.png" alt="Find Out More"/></a>
</div>
